<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/20bfbde5f0dfed09746f3835/w/89e87a07589996b404d06798/e/02e6df3ca634eef0ea4fbf46 -->
<robot name="delta-robot">
  <!-- Link base_plate -->
  <link name="base_plate">
    <inertial>
      <origin xyz="-0.264612 0.12931 0.0615589" rpy="0 0 0"/>
      <mass value="0.0210468"/>
      <inertia ixx="7.78087e-05" ixy="2.78961e-06" ixz="-2.29581e-05" iyy="6.96219e-05" iyz="-7.07901e-06" izz="0.000127021"/>
    </inertial>
    <!-- Part gear_mount -->
    <visual>
      <origin xyz="-0.280176 0.118151 0.0151876" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.280176 0.118151 0.0151876" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part gear_mount_2 -->
    <visual>
      <origin xyz="-0.250632 0.168038 0.0328917" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.250632 0.168038 0.0328917" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1 -->
    <visual>
      <origin xyz="-0.286239 0.208166 0.062677" rpy="-0.385763 0.0662488 2.03148"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
      <material name="part_1_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.286239 0.208166 0.062677" rpy="-0.385763 0.0662488 2.03148"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount_1 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
      <material name="motor_mount_1_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount_1_2 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
      <material name="motor_mount_1_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
    </collision>
    <!-- Part gear_mount_3 -->
    <visual>
      <origin xyz="-0.223741 0.113855 0.0369049" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_3_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.223741 0.113855 0.0369049" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part gear_mount_4 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_4_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part part_5 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/part_5.stl"/>
      </geometry>
      <material name="part_5_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/part_5.stl"/>
      </geometry>
    </collision>
    <!-- Part gear_mount_5 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_5_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.0714862 -0.384872 0.487563"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part gear_mount_6 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
      <material name="gear_mount_6_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/gear_mount.stl"/>
      </geometry>
    </collision>
    <!-- Part base_plate -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/base_plate.stl"/>
      </geometry>
      <material name="base_plate_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="0.36969 0.130762 -1.59628"/>
      <geometry>
        <mesh filename="package://assets/base_plate.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_mount_1_3 -->
    <visual>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
      <material name="motor_mount_1_3_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.251516 0.133348 0.0283281" rpy="-0.305978 0.247573 2.52966"/>
      <geometry>
        <mesh filename="package://assets/motor_mount_1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_2 -->
    <visual>
      <origin xyz="-0.190585 0.106835 0.0880585" rpy="0.140117 -0.366384 -0.0759707"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
      <material name="part_1_2_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.190585 0.106835 0.0880585" rpy="0.140117 -0.366384 -0.0759707"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
    </collision>
    <!-- Part motor -->
    <visual>
      <origin xyz="-0.279647 0.211662 0.0656993" rpy="-2.96706 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_material">
        <color rgba="0.796078 0.823529 0.937255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.279647 0.211662 0.0656993" rpy="-2.96706 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_2 -->
    <visual>
      <origin xyz="-0.323459 0.0773934 0.0321197" rpy="-0.872665 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_2_material">
        <color rgba="0.796078 0.823529 0.937255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.323459 0.0773934 0.0321197" rpy="-0.872665 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_3 -->
    <visual>
      <origin xyz="-0.190788 0.0988565 0.0870089" rpy="1.22173 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
      <material name="motor_3_material">
        <color rgba="0.796078 0.823529 0.937255 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.190788 0.0988565 0.0870089" rpy="1.22173 -1.17967 -2.8425"/>
      <geometry>
        <mesh filename="package://assets/motor.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_3 -->
    <visual>
      <origin xyz="-0.317071 0.0729101 0.0340924" rpy="0.259111 0.29636 -2.10547"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
      <material name="part_1_3_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.317071 0.0729101 0.0340924" rpy="0.259111 0.29636 -2.10547"/>
      <geometry>
        <mesh filename="package://assets/part_1.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link arm_assembly -->
  <link name="arm_assembly">
    <inertial>
      <origin xyz="0.0112847 0.035418 -0.102236" rpy="0 0 0"/>
      <mass value="0.0584453"/>
      <inertia ixx="0.00063144" ixy="-0.000131553" ixz="9.39485e-05" iyy="0.000259412" iyz="0.000295681" izz="0.000464379"/>
    </inertial>
    <!-- Part part_1_4 -->
    <visual>
      <origin xyz="0.0703999 0.0258622 -0.06405" rpy="1.92285 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
      <material name="part_1_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0703999 0.0258622 -0.06405" rpy="1.92285 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_5 -->
    <visual>
      <origin xyz="0.0768366 0.239524 -0.261009" rpy="0.137719 0.709725 1.89561"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_5_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0768366 0.239524 -0.261009" rpy="0.137719 0.709725 1.89561"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1 -->
    <visual>
      <origin xyz="0.1408 0.0517243 -0.08405" rpy="0.137719 0.709725 1.89561"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1408 0.0517243 -0.08405" rpy="0.137719 0.709725 1.89561"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part component1 -->
    <visual>
      <origin xyz="0.1408 0.0517243 -0.04405" rpy="-3.13667 -0.012322 -2.43316"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1408 0.0517243 -0.04405" rpy="-3.13667 -0.012322 -2.43316"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2 -->
    <visual>
      <origin xyz="0.0724677 0.224546 -0.227658" rpy="-2.58629 0.0993932 -0.373747"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0724677 0.224546 -0.227658" rpy="-2.58629 0.0993932 -0.373747"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f -->
    <visual>
      <origin xyz="0.0774717 0.247444 -0.264777" rpy="3.1101 0.562422 -1.84496"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0774717 0.247444 -0.264777" rpy="3.1101 0.562422 -1.84496"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part component1_2 -->
    <visual>
      <origin xyz="0.1408 0.0517243 -0.08405" rpy="0.00492019 0.012322 1.66639"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1408 0.0517243 -0.08405" rpy="0.00492019 0.012322 1.66639"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_6 -->
    <visual>
      <origin xyz="0.0713548 0.230277 -0.228362" rpy="3.05256 0.784795 1.93941"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_6_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0713548 0.230277 -0.228362" rpy="3.05256 0.784795 1.93941"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2_2 -->
    <visual>
      <origin xyz="0.0770271 0.24541 -0.26148" rpy="0.562646 0.0266399 -0.257365"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0770271 0.24541 -0.26148" rpy="0.562646 0.0266399 -0.257365"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_7 -->
    <visual>
      <origin xyz="0.0788779 0.235613 -0.250736" rpy="0.158469 -0.850119 1.68604"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_7_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0788779 0.235613 -0.250736" rpy="0.158469 -0.850119 1.68604"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1_2 -->
    <visual>
      <origin xyz="0.1408 0.0517243 -0.04405" rpy="-0.0890354 0.784795 1.93941"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_2_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.1408 0.0517243 -0.04405" rpy="-0.0890354 0.784795 1.93941"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_8 -->
    <visual>
      <origin xyz="0 0 -0.09" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
      <material name="part_1_8_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.09" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_2 -->
    <visual>
      <origin xyz="0.0720231 0.222512 -0.22436" rpy="-0.116821 0.552244 -2.00603"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_2_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0720231 0.222512 -0.22436" rpy="-0.116821 0.552244 -2.00603"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part rod -->
    <visual>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
      <material name="rod_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_9 -->
    <visual>
      <origin xyz="0.075587 0.220554 -0.224819" rpy="0.088791 0.782043 -1.07653"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_9_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.075587 0.220554 -0.224819" rpy="0.088791 0.782043 -1.07653"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_plate to arm_assembly -->
  <joint name="shoulder1" type="revolute">
    <origin xyz="-0.168872 0.200016 0.0500666" rpy="-1.43829 -0.16193 -0.0469725"/>
    <parent link="base_plate"/>
    <child link="arm_assembly"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link arm_assembly_2 -->
  <link name="arm_assembly_2">
    <inertial>
      <origin xyz="0.00779666 0.0392206 -0.0531467" rpy="0 0 0"/>
      <mass value="0.0584453"/>
      <inertia ixx="0.000701394" ixy="-0.000100458" ixz="-6.08724e-05" iyy="0.000214471" iyz="-0.000308073" izz="0.000535493"/>
    </inertial>
    <!-- Part part_1_10 -->
    <visual>
      <origin xyz="0.0696662 0.0277781 -0.06405" rpy="1.95021 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
      <material name="part_1_10_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0696662 0.0277781 -0.06405" rpy="1.95021 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_11 -->
    <visual>
      <origin xyz="0.0507163 0.259006 0.0623397" rpy="0.138439 -0.601779 1.97847"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_11_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0507163 0.259006 0.0623397" rpy="0.138439 -0.601779 1.97847"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1_3 -->
    <visual>
      <origin xyz="0.139332 0.0555562 -0.08405" rpy="0.138439 -0.601779 1.97847"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_3_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.139332 0.0555562 -0.08405" rpy="0.138439 -0.601779 1.97847"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part component1_3 -->
    <visual>
      <origin xyz="0.139332 0.0555562 -0.04405" rpy="-3.13667 -0.012322 -1.44172"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_3_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.139332 0.0555562 -0.04405" rpy="-3.13667 -0.012322 -1.44172"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2_3 -->
    <visual>
      <origin xyz="0.0504877 0.26485 0.100404" rpy="2.9235 0.105182 0.680154"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0504877 0.26485 0.100404" rpy="2.9235 0.105182 0.680154"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_3 -->
    <visual>
      <origin xyz="0.0529631 0.254635 0.0577807" rpy="-3.13234 0.241598 1.84721"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_3_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0529631 0.254635 0.0577807" rpy="-3.13234 0.241598 1.84721"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part component1_4 -->
    <visual>
      <origin xyz="0.139332 0.0555562 -0.08405" rpy="0.00492019 0.012322 -1.44172"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_4_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.139332 0.0555562 -0.08405" rpy="0.00492019 0.012322 -1.44172"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_12 -->
    <visual>
      <origin xyz="0.05023 0.266295 0.091318" rpy="-0.105149 -0.552955 1.9731"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_12_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.05023 0.266295 0.091318" rpy="-0.105149 -0.552955 1.9731"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2_4 -->
    <visual>
      <origin xyz="0.0527432 0.255543 0.0615673" rpy="0.241608 -0.00898612 -2.8674"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0527432 0.255543 0.0615673" rpy="0.241608 -0.00898612 -2.8674"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_13 -->
    <visual>
      <origin xyz="0.0557295 0.249138 0.0607608" rpy="2.94329 -0.955224 -0.921796"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_13_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0557295 0.249138 0.0607608" rpy="2.94329 -0.955224 -0.921796"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1_4 -->
    <visual>
      <origin xyz="0.139332 0.0555562 -0.04405" rpy="3.03644 -0.552955 1.9731"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_4_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.139332 0.0555562 -0.04405" rpy="3.03644 -0.552955 1.9731"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_14 -->
    <visual>
      <origin xyz="-0 0 -0.09" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
      <material name="part_1_14_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.09" rpy="1.5708 -0 3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_4 -->
    <visual>
      <origin xyz="0.0502678 0.265758 0.10419" rpy="-0.107715 -0.216873 -0.867379"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_4_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0502678 0.265758 0.10419" rpy="-0.107715 -0.216873 -0.867379"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part rod_2 -->
    <visual>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
      <material name="rod_2_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_15 -->
    <visual>
      <origin xyz="0.0541016 0.255856 0.0902973" rpy="-2.97315 -1.00896 -1.36679"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_15_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0541016 0.255856 0.0902973" rpy="-2.97315 -1.00896 -1.36679"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_plate to arm_assembly_2 -->
  <joint name="shoulder_3" type="revolute">
    <origin xyz="-0.227785 0.0299372 0.00618505" rpy="-1.31264 0.284228 -2.10882"/>
    <parent link="base_plate"/>
    <child link="arm_assembly_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
  <!-- Link arm_assembly_3 -->
  <link name="arm_assembly_3">
    <inertial>
      <origin xyz="-0.0267709 0.04343 -0.0728976" rpy="0 0 0"/>
      <mass value="0.0584453"/>
      <inertia ixx="0.000634647" ixy="0.000382983" ixz="3.55526e-05" iyy="0.000249422" iyz="-5.86899e-05" izz="0.000866397"/>
    </inertial>
    <!-- Part part_1_16 -->
    <visual>
      <origin xyz="0.0223144 0.0716035 -0.06405" rpy="2.83949 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
      <material name="part_1_16_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0223144 0.0716035 -0.06405" rpy="2.83949 -1.5708 0"/>
      <geometry>
        <mesh filename="package://assets/part_1__2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_17 -->
    <visual>
      <origin xyz="-0.180632 0.283604 -0.0691853" rpy="0.151821 -0.0745366 2.58139"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_17_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.180632 0.283604 -0.0691853" rpy="0.151821 -0.0745366 2.58139"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1_5 -->
    <visual>
      <origin xyz="0.0446289 0.143207 -0.08405" rpy="0.151821 -0.0745366 2.58139"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_5_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0446289 0.143207 -0.08405" rpy="0.151821 -0.0745366 2.58139"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part component1_5 -->
    <visual>
      <origin xyz="0.0446289 0.143207 -0.04405" rpy="-3.13667 -0.012322 -1.99703"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_5_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0446289 0.143207 -0.04405" rpy="-3.13667 -0.012322 -1.99703"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2_5 -->
    <visual>
      <origin xyz="-0.174583 0.293531 -0.0309903" rpy="2.82759 0.0367975 -0.399674"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_5_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.174583 0.293531 -0.0309903" rpy="2.82759 0.0367975 -0.399674"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_5 -->
    <visual>
      <origin xyz="-0.181275 0.281638 -0.0727156" rpy="3.12706 0.315753 1.01155"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_5_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.181275 0.281638 -0.0727156" rpy="3.12706 0.315753 1.01155"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part component1_6 -->
    <visual>
      <origin xyz="0.0446289 0.143207 -0.08405" rpy="0.00492019 0.012322 -1.99993"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
      <material name="component1_6_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0446289 0.143207 -0.08405" rpy="0.00492019 0.012322 -1.99993"/>
      <geometry>
        <mesh filename="package://assets/component1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_18 -->
    <visual>
      <origin xyz="-0.174666 0.293447 -0.0405306" rpy="-0.29062 -0.0312593 2.54632"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
      <material name="part_1_18_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.174666 0.293447 -0.0405306" rpy="-0.29062 -0.0312593 2.54632"/>
      <geometry>
        <mesh filename="package://assets/part_1__3.stl"/>
      </geometry>
    </collision>
    <!-- Part part_2_6 -->
    <visual>
      <origin xyz="-0.18068 0.282695 -0.0690088" rpy="0.315784 0.0138131 2.58686"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
      <material name="part_2_6_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.18068 0.282695 -0.0690088" rpy="0.315784 0.0138131 2.58686"/>
      <geometry>
        <mesh filename="package://assets/part_2.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_19 -->
    <visual>
      <origin xyz="-0.17147 0.278751 -0.0650012" rpy="2.02944 -1.40179 0.557627"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_19_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.17147 0.278751 -0.0650012" rpy="2.02944 -1.40179 0.557627"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
    <!-- Part m5_przegub__v1_6 -->
    <visual>
      <origin xyz="0.0446289 0.143207 -0.04405" rpy="2.85097 -0.0312593 2.54632"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
      <material name="m5_przegub__v1_6_material">
        <color rgba="0.627451 0.627451 0.627451 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0446289 0.143207 -0.04405" rpy="2.85097 -0.0312593 2.54632"/>
      <geometry>
        <mesh filename="package://assets/m5_przegub__v1.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_20 -->
    <visual>
      <origin xyz="-0 0 -0.09" rpy="1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
      <material name="part_1_20_material">
        <color rgba="0.866667 0.909804 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.09" rpy="1.5708 0 -3.14159"/>
      <geometry>
        <mesh filename="package://assets/part_1__5.stl"/>
      </geometry>
    </collision>
    <!-- Part ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_6 -->
    <visual>
      <origin xyz="-0.173989 0.294588 -0.0272835" rpy="-0.0386873 -0.313778 -1.95852"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
      <material name="ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f_6_material">
        <color rgba="0.603922 0.647059 0.686275 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.173989 0.294588 -0.0272835" rpy="-0.0386873 -0.313778 -1.95852"/>
      <geometry>
        <mesh filename="package://assets/ph_pan_head_screw_m5x0_80_x_20__cc5a28f66c81927f4b0c3b2d4528a18f.stl"/>
      </geometry>
    </collision>
    <!-- Part rod_3 -->
    <visual>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
      <material name="rod_3_material">
        <color rgba="0.917647 0.917647 0.917647 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.08 -0.0175 -0.071" rpy="1.5708 -0.523599 -0"/>
      <geometry>
        <mesh filename="package://assets/rod.stl"/>
      </geometry>
    </collision>
    <!-- Part part_1_21 -->
    <visual>
      <origin xyz="-0.16707 0.286572 -0.0360552" rpy="-1.67949 -1.27855 -2.06194"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
      <material name="part_1_21_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-0.16707 0.286572 -0.0360552" rpy="-1.67949 -1.27855 -2.06194"/>
      <geometry>
        <mesh filename="package://assets/part_1__4.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_plate to arm_assembly_3 -->
  <joint name="shoulder_2" type="revolute">
    <origin xyz="-0.338766 0.175988 -0.0198026" rpy="-1.97478 0.300782 1.93238"/>
    <parent link="base_plate"/>
    <child link="arm_assembly_3"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10" lower="-3.141592653589793" upper="3.141592653589793"/>
  </joint>
</robot>
